@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  line-height: 1.1;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

:root {
  --primary-color: #ff5d27;
}

a {
  color: var(--primary-color);
  font-weight: bold;
}

ul {
  list-style: none;
}

body {
  overflow-x: scroll;
  overflow-x: hidden;
}

.navbar {
  background-color: #fff;
  padding: 10px 0;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
  box-shadow: 0 4px 10px #eee;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  color: #adadad;
  font-size: 18px;
}

.menu__icon {
  margin-left: 1rem;
}

.menu__text {
  display: none;
  font-weight: light;
  text-transform: uppercase;
}

@media screen and (min-width: 630px) {
  .menu__text {
    display: block;
  }

  .modal {
    padding: 2rem;
  }

  .modal-graphic {
    padding-top: 4rem !important;
    box-shadow: none !important;
  }

  .modal h1 {
    display: none;
  }

  .cta-card {
    margin: 1rem 0.4rem !important;
  }

  .modal .cta-card {
    margin-top: 6rem !important;
  }

  .positioner {
    left: -2.7rem !important;
  }

  .hero h1 {
    font-size: 90px !important;
  }

  .kilometers {
    font-size: 35px !important;
    line-height: 0.8 !important;
    font-weight: 300 !important;
  }

  .hero__cta button {
    padding: 1rem 8rem !important;
    font-weight: bold !important;
  }
  .footer .socials {
    margin-right: 0 !important;
  }

  .footer .flex .flex .appendix {
    padding-top: 0 !important;
  }
}

.hero {
  background: #eeeeee;
  display: flex;
}

.container {
  margin: 10px auto 0 auto;
  max-width: 1280px;
  width: 90%;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 1rem;
  margin-top: 80px;
}

.hero__higlight {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  min-width: 250px;
}

.hero__cta {
  background-color: #cecece9a;
  padding: 1rem;
  text-align: center;
  flex: 3;
  width: 100%;
}

.hero__cta h2 {
  font-weight: 500;
  font-size: 18px;
  margin: 1rem 0;
  color: #333333;
  text-transform: uppercase;
}

.hero__higlight p {
  margin: 0.8rem 0;
}

h1 {
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 40px;
  color: var(--primary-color);
  margin-right: 6px;
}

.kilometers {
  font-size: 1.6rem;
  line-height: 0.9;
  font-weight: 100;
}

.cta-cards {
  display: flex;
  justify-content: center;
  margin: 1.2rem auto;
}

.cta-card {
  position: relative;
  padding: 0.4rem 0.2rem;
  min-width: 7rem;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 7.5%;
  text-align: center;
}

.cta-card h3 {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.cta-card span {
  color: #333333;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.cta-card h3 span {
  color: #c1c1c1;
  font-size: 14px;
  font-weight: light;
  margin-top: 5px;
}

.cta-card::after {
  content: '';
  left: 50%;
  width: 120%;
  padding: 4px;
  bottom: -2rem;
  position: absolute;
  transform: translateX(-50%);
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-top-width: 1rem;
}

.modal-graphic button,
.hero__cta button {
  border: none;
  outline: none;
  margin: 1rem 0;
  margin-top: 1.5rem;
  font-size: 20px;
  padding: 1.5rem 9rem;
  color: var(--primary-color);
  appearance: none;
  background-color: #fff;
  border-radius: 10px;
}

.date {
  color: #333333;
  display: flex;
  align-items: center;
}

.date__icon {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background-color: #c1c1c180;
  padding: 0.8rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 630px) {
  .hero .container {
    flex-direction: column;
    background-color: #fff;
    width: 100%;
  }

  .container {
    margin: 0 auto;
  }

  .menu {
    font-size: 34px;
  }

  .hero__higlight {
    flex-direction: row;
    padding: 0 0.5rem;
  }

  .hero__higlight p {
    color: #525252;
    font-weight: 400;
  }

  .hero .date {
    display: none;
  }
}

.car {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  border-top: 3px solid #eeeeee;
  color: #333333;
}

.car__description {
  width: 100%;
}

.car__description h2 span {
  font-weight: 500;
}

.car__description span {
  font-weight: bold;
}

.car__description button {
  width: 100px;
  padding: 1rem 0;
  font-weight: bold;
  text-transform: uppercase;
  background: none;
  outline: none;
  border-radius: 0;
  border-width: 3px;
  border-style: solid;
  border-color: inherit;
}

.car__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  font-weight: light;
}

.car__specs ul span {
  position: absolute;
  z-index: 1;
  width: 100%;
  border-bottom: 10px solid;
  border-bottom-color: inherit;
}

.car__specs ul {
  margin-top: 0.4rem;
  display: flex;
  position: relative;
  background-color: #eee;
  height: 10px;
  z-index: 0;
}

.car__specs ul li {
  z-index: 2;
  padding: 2px 1.6rem;
  border-right: 5px solid white;
}

.car__specs span {
  color: #11111177;
  font-size: 14.5px;
  font-weight: 500;
}

.car__specs {
  position: relative;
  margin-top: 1rem;
  font-size: 21px;
}

.car__specs .car__info {
  color: #11111177;
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
}

.car__specs.spec-2 {
  filter: saturate(3);
}

.car__specs.spec-3 {
  filter: saturate(6);
}

.car__image {
  width: 100%;
  min-width: 100px;
  max-width: 500px;
  max-height: 202px;
  overflow: hidden;
}

.car__image > div {
  position: unset !important;
}

.car__image .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.cars {
  width: 100%;
}

.mobile-order {
  display: none;
}

@media screen and (max-width: 630px) {
  .car {
    flex-direction: column;
  }

  .kilometers {
    line-height: 0.8;
    font-size: 16px;
    font-weight: 300;
  }
}

@media screen and (max-width: 826px) {
  .desktop-order {
    display: none !important;
  }
  .mobile-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  aside {
    display: none;
  }
  .cta-card {
    margin: 0 0.4rem;
  }

  .cta-card::after {
    width: 105%;
    border-top-width: 0.7rem;
  }

  .hero__cta {
    font-size: 16px;
  }

  .hero__cta h2 {
    display: flex;
    flex-direction: column;
    font-weight: 500 !important;
    font-size: 18px;
    text-transform: uppercase;
    color: #333333;
  }

  .hero__cta button {
    padding: 10px 4rem;
    font-size: 16px;
    font-weight: bold;
  }

  .modal {
    padding: 0;
  }
}

label {
  display: flex;
  align-items: center;
  margin: 0.8rem 0;
}

input[type='radio'] {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: 5px;
  -webkit-appearance: none;
  border: 3px solid #ccc;
}

input[type='radio']:after {
  background-color: #cccccc;
  border-radius: 25px;
  content: '';
  height: 13px;
  width: 13px;
  margin-top: 3px;
  margin-left: 3px;
  display: none;
}

input[type='radio']:checked {
  border-radius: 50%;
}

input[type='radio']:checked:after {
  background-color: var(--primary-color);
  display: block;
}

.filters h3 {
  margin-bottom: 1.2rem;
}

.filters > div {
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #cccccc;
}

.filters > div h3 {
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
}

.filters > div h3 svg {
  font-weight: 18px;
  color: #11111177;
}

.filters ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.4rem;
}

.filters ul label {
  margin: 0.2rem 0;
}

main.container {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 500px) {
  .car__specs ul li {
    padding: 2px 1.4rem;
  }
}

.modal {
  background-color: #fff;
  width: 100%;
  max-width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backdrop {
  background-color: #000000e2;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal__close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.modal__content {
  padding-top: 2rem;
}

.modal-meta {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.modal-meta p {
  margin: 1.2rem 0;
  padding: 0 2rem;
}

.modal-graphic {
  border-radius: 10px;
  box-shadow: 0 0 25px #8d8d8d;
  background-color: #bababa;
  display: flex;
  margin: 2rem 0.5rem;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.modal-graphic button {
  color: #cccccc;
  font-weight: 600;
}

.modal .cta-card {
  margin-top: 7rem;
}

.modal .cta-card::after {
  top: -6rem;
}

.modal .positioner {
  position: absolute;
  top: -5.95rem;
  left: -5rem;
  font-size: 55px;
}

.modal .cta-card:nth-child(odd) .positioner {
  transform: rotate(180deg);
}

.modal .cta-card:nth-child(even) .positioner {
  top: -9.35rem;
}

@media screen and (max-width: 640px) {
  .cta-cards {
    font-size: 13px;
  }

  .modal .positioner {
    left: -2.2rem;
  }

  .modal {
    height: 100vh;
    width: 100vw !important;
  }

  .modal h1 {
    margin: 0.5rem 0 0 1rem;
  }

  .modal-meta {
    background-color: #eeeeee;
    margin-top: 1rem;
    padding: 1rem 0;
    padding-bottom: 16rem;
  }

  .modal-graphic {
    position: relative;
    top: -16rem;
    left: 50%;
    transform: translateX(-55%);
    width: 90%;
  }

  .backdrop {
    background: transparent;
  }

  .logo {
    position: relative;
  }

  .logo::before {
    content: '';
    width: 100%;
    border-top: 20px solid var(--primary-color);
    position: absolute;
    top: -1.6rem;
    left: -34%;
    z-index: 4;
  }
}

.order {
  display: flex;
  padding: 2rem;
}

.order li {
  padding: 0.3rem 1rem;
  border-radius: 5px;
  background-color: #eee;
}

.order li {
  margin-left: 10px;
}

.order li.selected {
  background-color: transparent;
  border: 3px solid #eee;
  font-weight: bold;
}

.order-selector {
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  background: #eee;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 1rem;
  padding-left: 6rem;
}

.mobile-order .select {
  position: relative;
}

.mobile-order .select span {
  position: absolute;
  color: #333333;
  top: 2.06rem;
  left: 0.8rem;
}

.mobile__filter {
  display: flex;
  padding: 1rem;
  background-color: var(--primary-color);
  color: white;
  position: sticky;
  width: 100vw;
  bottom: 0;
  align-items: center;
}

.mobile__filter svg {
  font-size: 1.8rem;
}

.mobile__filter h2 {
  flex: 1;
  text-align: center;
}

@media screen and (min-width: 630px) {
  .mobile__filter {
    display: none;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
}

.socials a {
  color: rgb(223, 223, 223);
  font-size: 1.4rem;
}

.each-li {
  margin: 0 0.3rem;
}

.footer {
  padding: 2rem 1rem 4rem 1rem;
  background-color: rgb(52, 52, 53);
  color: white;
  text-align: center;
}

.footer h2 {
  font-weight: bold;
}

.appendix {
  color: rgb(150, 149, 149);
  font-size: 0.8rem;
  padding: 0 1rem;
  padding-top: 1rem;
}

.appendix.text-center {
  border-top: 1px solid;
}

.mobOnly {
  background: white;
  padding: 1rem 1rem 0 1rem;
}

@media screen and (max-width: 480px) {
  .flexDirection {
    flex-direction: column;
    align-items: center;
  }

  .left {
    background: white;
  }

  .whiteCard {
    margin: 1rem 0.3rem;
  }

  .bottomNav {
    display: flex;
    background: #ff5d27;
    color: white;
    font-size: 1.2rem;
    position: fixed;
    font-weight: bolder;
    text-align: center;
    bottom: 0;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding: 1rem;
  }
}
